body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-list {
    margin: 20px 0;
}

/* 预约项样式 */
.booking-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.booking-item .avatar {
    width: 50px;
    height: 50px;
    background-color: #6c757d;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.booking-item .details {
    flex: 1;
    margin-left: 10px;
}

.booking-item .details p {
    margin: 5px 0;
}

.booking-item .arrow {
    font-size: 20px;
    color: #333;
}

/* 详细信息样式 */
.extra-details {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.extra-details p {
    margin: 5px 0;
}


